@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

/* BUTTON EXTEND */
.main-shorten-result-final button {
  padding: 1rem 3rem;
  border-radius: 5px;
  /* white font & cyan background */
  color: white;
  background-color: #2acfcf;
}

.main-features-card, .main-shorten, .main-intro, .head {
  margin: 0 2rem;
}
@media screen and (min-width: 480px) {
  .main-features-card, .main-shorten, .main-intro, .head {
    max-width: 1110px;
    margin: 0 auto;
  }
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  font: inherit;
}
button:active {
  background-color: #a6eded;
}

input {
  text-decoration: none;
  font: inherit;
}

.head {
  display: flex;
  align-items: center;
  height: 73px;
  position: relative;
}
@media screen and (min-width: 480px) {
  .head {
    margin-top: 4rem;
  }
}
.head-brand {
  font-size: 0;
}
.head-menu {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.head-menu-switcher {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url(../images/icon-hamburger.svg);
  cursor: pointer;
}
.head-menu-switcher-hide {
  display: none;
}
@media screen and (min-width: 480px) {
  .head-menu-switcher {
    display: none;
  }
}
input[type=checkbox]:checked ~ .head-menu-nav {
  display: block;
  width: calc(100% - 4rem);
  position: absolute;
  top: 73px;
  color: white;
  background-color: #3b3054;
  border-radius: 1rem;
}
.head-menu-nav {
  display: none;
  width: 100%;
  padding: 2rem;
  font-weight: 700;
  text-align: center;
}
.head-menu-nav li {
  margin: 2rem 0;
}
.head-menu-nav + ul > li {
  margin-top: 0;
}
.head-menu-nav-ul_sign::before {
  content: "";
  display: block;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  margin: 2rem 0;
}
.head-menu-nav-ul_sign li:last-of-type {
  line-height: 4rem;
  border-radius: 2rem;
  background-color: #2acfcf;
}
@media screen and (min-width: 480px) {
  .head-menu-nav {
    margin-left: 2rem;
    color: gray;
    display: flex;
    justify-content: space-between;
  }
  .head-menu-nav ul {
    display: flex;
    align-items: center;
  }
  .head-menu-nav ul li {
    margin: 0 2rem;
  }
  .head-menu-nav ul > li {
    margin-left: 0;
  }
  .head-menu-nav-ul_sign::before {
    content: none;
  }
  .head-menu-nav-ul_sign li:last-of-type {
    color: white;
    padding: 0 2rem;
  }
}

.main-intro {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 480px) {
  .main-intro {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}
.main-intro-img {
  height: calc(100vw - 4rem);
}
.main-intro-img img {
  object-fit: cover;
  max-height: 100%;
}
.main-intro-detail {
  margin: 2rem;
  text-align: center;
}
.main-intro-detail * {
  margin: 1rem 0;
}
.main-intro-detail h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2;
  color: #232127;
}
.main-intro-detail p {
  font-size: 1.8rem;
  color: #9e9aa7;
}
.main-intro-detail a {
  display: inline-block;
  font-size: 2rem;
  font-weight: 700;
  border-radius: 3rem;
  color: white;
  background-color: #2acfcf;
  padding: 1rem 3rem;
}
@media screen and (min-width: 480px) {
  .main-intro-detail {
    margin-left: 0;
    max-width: 52rem;
    text-align: start;
  }
  .main-intro-detail h1 {
    font-size: 6rem;
    letter-spacing: -0.035em;
  }
}
.main-shorten {
  padding-top: 6rem;
  padding-bottom: 6rem;
  position: relative;
}
.main-shorten::after {
  content: "";
  position: absolute;
  top: 13rem;
  bottom: 0;
  left: -2rem;
  right: -2rem;
  background-color: #eff0f5;
  z-index: -1;
}
.main-shorten-form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 1rem;
  background-color: #3b3054;
  background-image: url(../images/bg-shorten-mobile.svg);
  background-repeat: no-repeat;
  background-position: right top;
}
.main-shorten-form-input_wrapper input {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
}
.main-shorten-form-input_wrapper p {
  height: 1.5rem;
  font-size: 1.2rem;
  font-style: italic;
  color: #f46262;
}
.main-shorten-form-button {
  font-weight: 700;
  color: white;
  background-color: #2acfcf;
  padding: 1rem 3rem;
  border-radius: 0.5rem;
}
@media screen and (min-width: 480px) {
  .main-shorten-form {
    flex-direction: unset;
    background-image: url(../images/bg-shorten-desktop.svg);
    padding: 4rem 4rem 2rem;
    max-width: 1110px;
  }
  .main-shorten-form * {
    border-radius: 1rem;
  }
  .main-shorten-form-input_wrapper {
    flex: 1;
  }
  .main-shorten-form-input_wrapper p {
    font-size: 1.3rem;
    height: 1.2;
  }
  .main-shorten-form button {
    margin-left: 1.5rem;
    margin-bottom: 2rem;
  }
}
.main-shorten-result {
  background-color: white;
  border-radius: 0.5rem;
  margin-top: 2rem;
  padding: 2rem;
}
.main-shorten-result-origin p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main-shorten-result-origin::after {
  content: "";
  display: block;
  height: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.main-shorten-result-final a {
  color: #2acfcf;
  display: block;
  margin: 1rem 0;
}
.main-shorten-result-final button {
  width: 100%;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .main-shorten-result {
    display: flex;
  }
  .main-shorten-result-final {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
}
.main-features {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #eff0f5;
}
.main-features__title {
  font-size: 3rem;
  margin: 2rem 0;
}
.main-features__description {
  color: #9e9aa7;
}
.main-features-wrapper {
  margin-bottom: 8rem;
}
.main-features-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 3rem 4rem;
  position: relative;
  border-radius: 0.5rem;
  background-color: white;
  margin-bottom: 90px;
}
.main-features-card::before {
  content: "";
  width: 80px;
  height: 80px;
  border-radius: 40px;
  position: absolute;
  top: -40px;
  background-color: #3b3054;
  background-repeat: no-repeat;
  background-position: center;
}
.main-features-card__title {
  font-size: 2.4rem;
  margin: 1rem 0;
}
.main-features-card::after {
  content: "";
  width: 8px;
  height: 50px;
  background-color: #2acfcf;
  position: absolute;
  bottom: -50px;
}
.main-features-card-1::before {
  background-image: url(../images/icon-brand-recognition.svg);
}
.main-features-card-2::before {
  background-image: url(../images/icon-detailed-records.svg);
}
.main-features-card-3::before {
  background-image: url(../images/icon-fully-customizable.svg);
}
.main-features-card-3::after {
  content: none;
}
.main-invite {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  color: white;
  background-color: #3b3054;
  background-image: url(../images/bg-boost-mobile.svg);
  background-repeat: no-repeat;
  background-position: right;
  height: 300px;
}
.main-invite__title {
  font-size: 2.6rem;
}
.main-invite a {
  font-size: 1.8rem;
  padding: 1rem 3rem;
  border-radius: 3rem;
  background-color: #2acfcf;
  font-weight: 700;
}
@media screen and (min-width: 480px) {
  .main-invite {
    background-image: url(../images/bg-boost-desktop.svg);
    height: 250px;
  }
}

.footer {
  background-color: #232127;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 4rem 0;
}
.footer-brand svg path {
  fill: white;
}
.footer-nav-links__title {
  color: white;
  margin: 3rem 0 2rem;
}
.footer-nav-links__list {
  color: #9e9aa7;
}
.footer-nav-links__list li {
  margin: 1rem 0;
}
.footer-nav-links-social ul {
  display: flex;
  align-items: center;
}
.footer-nav-links-social ul li {
  margin: 3rem 1rem 0;
}

/*# sourceMappingURL=styles.css.map */
