* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: $font-default;

    max-width: $desktop;
    margin: 0 auto;
    box-shadow: 0 0 15px 10px rgba($color: #000000, $alpha: .1);
}

/* BUTTON EXTEND */
%button-rounded_box {
    padding: 1rem 3rem;    
    border-radius: 5px;
    /* white font & cyan background */
    color: white;
    background-color: $cyan;
}

%width-controller {
    margin: 0 2rem;
    @media screen and (min-width: $bp-large) {
        max-width: 1110px;
        margin: 0 auto;
    }
}

// 😕❓

*:focus {
    outline: none;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

button {
    &:active {
        background-color: lighten($cyan, 30%);
    }
    cursor: pointer;
    font: inherit;
}

input {
    text-decoration: none;
    font: inherit;
}