* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

button {
    font: inherit;
}

input {
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: $font-default;
}

.hf {
    &-width {
        padding: 0 2rem;
        @media screen and (min-width: $bp-large) {
            padding: 0 15rem;
        }
    }
}