.footer {
    background-color: $very-dark-violet;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 4rem 0;

    @media screen and (min-width: $bp-large) {
        flex-direction: row;
        justify-content: space-around;
        &-brand {
            align-self: flex-start;
            margin-top: 3rem;
        }
        &-nav {
            display: flex;
            justify-content: space-between;
            gap: 10rem;
            text-align: start;
        }
    }

    &-brand {
        svg path {
            fill: white;
        }
    }

    &-nav-links {
        &__title {
            color: white;
            margin: 3rem 0 2rem;
        }
        &__list {
            color: $grayish-violet;
            li {
                margin: 1rem 0;
            }
        }

        &-social {
            ul {
                display: flex;
                align-items: center;    
                li {
                    margin: 3rem 1rem 0;
                }            
            }
        }
    }
}