.main {
    &-intro {
        @extend %width-controller;
        @media screen and (min-width: $bp-small) and (max-width: $bp-large) {
            margin-right: 0;
        }
        display: flex;
        flex-direction: column;     
        @media screen and (min-width: $bp-semi-medium) {
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
            margin-top: 4rem;
        }

        &-img {
            max-height: calc(100vw - 2rem);
            width: calc(100vw - 2rem);
            overflow: hidden; 
            img {
                object-fit: cover;
                max-height: 100%;               
            }        

            @media screen and (min-width: $bp-large) {
                max-height: 482px;
                max-width: 733px;
                position: relative;
                left: calc((1440px - 1110px) / 2);
            }
        }

        &-detail {
            font-size: 62.5%;
            margin: 2rem 0 0;
            text-align: center;

            h1 {
                font-size: 4em;
                font-weight: $font-bold;
                line-height: 1.2;
                letter-spacing: -0.035em;
                color: $very-dark-violet;
                span {
                    display: block;
                }
            }
            p {
                font-size: 1.8rem;
                color: $grayish-violet;
                margin: 2rem 0;
            }
            a {
                display: inline-block;
                font-size: 2rem;
                font-weight: $font-bold;
                border-radius: 3rem;
                color: white;
                background-color: $cyan;
                padding: 1rem 3rem;
                margin: 1rem 0;
                &:active {
                    background-color: lighten($cyan, 30%);
                }
                cursor: pointer;
            }            
            
            @media screen and (min-width: $bp-semi-medium) {
                min-width: 200px;
                text-align: start;
                p {
                    font-size: 2rem;
                }
            }

            @media screen and (min-width: $bp-large) {
                min-width: 552px;
                text-align: start;
                font-size: 125%;
                p {
                    font-size: 2rem;
                }
            }
        }
    }

    &-shorten {
        @extend %width-controller;
        padding-top: 6rem;
        padding-bottom: 6rem;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            top: 15rem;
            bottom: 0;
            left: -2rem;
            right: -2rem;
            background-color: $light-violet;
            z-index: -1;
            @media screen and (min-width: $bp-small) {
                left: calc((-1440px + 1110px) / 2);
                right: calc((-1440px + 1110px) / 2);
            }
        }        

        &-form {
            display: flex;
            flex-direction: column;

            padding: 2rem;
            border-radius: 1rem;
            background-color: $dark-violet;
            background-image: url(../images/bg-shorten-mobile.svg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: right top;

            &-input_wrapper {
                input {
                    width: 100%;
                    padding: 1rem;
                    border-radius: .5rem;
                }
                p {
                    height: 1.5rem;
                    font-size: 1.2rem;
                    font-style: italic;
                    color: $red;
                }
            }

            &-button {
                font-weight: $font-bold;
                color: white;
                background-color: $cyan;
                padding: 1rem 3rem;
                border-radius: .5rem;
            }

            @media screen and (min-width: $bp-medium) {
                flex-direction: unset;
                background-image: url(../images/bg-shorten-desktop.svg);
                padding: 6rem 6rem 4rem;
                max-width: 1110px;
                height: 185px;

                font-size: 1.8rem;

                * {
                    border-radius: 1rem;
                }
                &-input_wrapper {
                    flex: 1;
                    input {
                        padding: 1.5rem;
                        height: 60px;
                        align-self: flex-start;
                    }
                    p {
                        font-size: 1.6rem;
                        margin-top: .5rem;
                    }
                }
                button {
                    margin-left: 1.5rem;
                    height: 60px;
                    align-self: flex-start;
                }
            }
        }
    }

    &-shorten-result {
        // card like :)
        background-color: white;
        border-radius: .5rem;
        // gap between & in cards
        margin-top: 2rem;
        padding: 2rem;

        // original full URL 🌳
        &-origin {
            p {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                max-width: 600px;
            }
            @media screen and (max-width: $bp-medium) {
                &::after {
                    content: '';
                    display: block;
                    height: 1rem;
                    border-bottom: 1px solid rgba(black, .1);
                }     
            }     
        }
        // result URL & COPY button 🌳
        &-final {
            a {
                color: $cyan;                
                display: block;
                margin: 1rem 0;
            }
            button {
                @extend %button-rounded_box;
                width: 100%;
                cursor: pointer;
            }
        }

        @media screen and (min-width: $bp-medium) {
            font-size: 18px;
            display: flex;
            align-items: center;
            &-final {
                flex: 1;
                display: flex;
                justify-content: flex-end;
                gap: 2rem;
                button {
                    width: 130px;
                }
            }
        }
    }

    &-features {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center; 
        background-color: $light-violet;

        &-intro {
            &-wrapper {
                @extend %width-controller;
                margin-bottom: 8rem;
                @media screen and (min-width: $bp-large) {
                    max-width: 46rem;
                }
            }

            &__title {
                font-size: 3rem;
                @media screen and (min-width: $bp-large) {
                    font-size: 4rem;
                }
                margin: 2rem 0;
            }
            &__description {
                color: $grayish-violet;
            }
        }

        &-cards_wrapper {
            @media screen and (min-width: $bp-large) {
                display: flex;
                gap: 30px;
            }
        }

        &-card {
            @extend %width-controller;

            display: flex;
            flex-direction: column;
            align-items: center;

            border-radius: .5rem;
            background-color: white;

            padding: 6rem 3rem 4rem;
            margin-bottom: 90px;

            &__title {
                font-size: 2.4rem;
                margin: 1rem 0
            }
            &__description {
                color: $grayish-violet;
            }

            @media screen and (min-width: $bp-large) {
                width: 37rem;
                height: 26rem;
                align-items: stretch;
                margin-bottom: 10rem;
                text-align: start;
            }       

            position: relative;
            /* container circle for icon */
            &::before {
                content: '';
                width: 80px;
                height: 80px;
                border-radius: 40px;
                position: absolute;
                top: -40px;
                background-color: $dark-violet;
                background-repeat: no-repeat;
                background-position: center;
                @media screen and (min-width: $bp-large) {
                    left: 30px;
                }
            }

            &::after {
                content: '';
                width: 8px;
                height: 50px;
                background-color: $cyan;
                position: absolute;
                bottom: -50px;
                @media screen and (min-width: $bp-large) {
                    height: 8px;
                    width: 30px;
                    bottom: 100px;
                    right: -30px;
                }
            }

            &-1::before {
                background-image: url(../images/icon-brand-recognition.svg);
            }
            &-2 {
                &::before {
                    background-image: url(../images/icon-detailed-records.svg);
                }

                @media screen and (min-width: $bp-large) {
                    margin-top: 40px;
                }
            }
            &-3 {
                &::before {
                    background-image: url(../images/icon-fully-customizable.svg);
                }
                &::after {
                    content: none;
                }

                @media screen and (min-width: $bp-large) {
                    margin-top: 80px;
                }
            }
        }
    }

    &-invite {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        background-color: $dark-violet;
        background-image: url(../images/bg-boost-mobile.svg);
        background-repeat: no-repeat;
        background-position: right;
        height: 300px;

        &__title {
            font-size: 2.6rem;
        }
        a {
            font-size: 1.8rem;
            padding: 1rem 3rem;
            margin: 2rem;
            border-radius: 3rem;
            background-color: $cyan;
            font-weight: $font-bold;
        }

        @media screen and (min-width: $bp-large) {
            background-image: url(../images/bg-boost-desktop.svg);
            background-size: cover;
            height: 250px;

            &__title {
                font-size: 3.5rem;
            }

            a {
                margin-top: 3rem;
            }
        }
    }
}