// COLORS
$cyan: hsl(180, 66%, 49%);
$dark-violet: hsl(257, 27%, 26%);
$red: hsl(0, 87%, 67%);
$gray: hsl(0, 0%, 75%);
$grayish-violet: hsl(257, 7%, 63%);
$very-dark-blue: hsl(255, 11%, 22%);
$very-dark-violet: hsl(260, 8%, 14%);
$light-violet: hsl(230, 25%, 95%);

// FONTS
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
$font-default: 'Poppins', sans-serif;
$font-medium: 500;
$font-bold: 700;

// BREAKPOINTS
$mobile: 375px;
$desktop: 1440px;

$bp-small: 480px;
$bp-semi-medium: 600px;
$bp-medium: 800px;
$bp-large: 1024px;